# --- Resultados do LazRecon ---
findigns/
*.pdf
*.html

# --- Python ---
__pycache__/
*.pyc
.venv/
env/

# --- Executáveis e Builds ---
build/
dist/
*.spec
*.exe

# --- Configurações de IDE ---
.vscode/
.idea/
